<div id="content">
        <div class="content-heading">
            <p>My Classes</p>
            <button class="create-btn js-create-new-class"><i class="fas fa-plus-circle"></i>Create new class</button>
        </div>
        {{#if classes}}
            {{#each classes}}
                <div class="class-item js-open-class">
                    <div class="fl">
                        <a href="assignment?class_name={{class_name}}&classID={{_id}}" class="class-name">{{class_name}}</a></br>
                        {{#if assignmentIDs}}
                            <a href="assignment?class_name={{class_name}}&classID={{_id}}" class="assignments">{{assignmentIDs.length}} assignments</a>
                        {{else}}
                            <a href="assignment?class_name={{class_name}}&classID={{_id}}" class="assignments">0 assignment</a>
                        {{/if}}
                    </div>
                    <div class="class-btn">
                        <ul>
                            <li><button class="invite-btn js-invite" data-id="{{this._id}}" data-classID = "{{class_ID}}" data-classCode = "{{class_code}}"><i class="fas fa-user-plus"></i></button></li>
                            <li><a href="classroom/edit/{{this._id}}"><i class="fas fa-cog"></i></a></li>
                        </ul>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <p style="display: flex; font-size: 23px; font-weight: 400; color: #000; padding-top: 32px; margin-left: 116px; margin-top: 44px;">You don't have a class yet!</p>
        {{/if}}
    </div>
    <div class="modal js-modal">
        <div class="modal-container js-modal-container">
            <div class="modal-header">
                <p>Create a new class</p>
            </div>
            <div class="modal-body">
                <form method="POST" action="/classroom">
                <label for="class-name" class="modal-label">
                    Enter a class name
                </label>
                <input id="class-name" name="class_name" type="text" class="modal-input" placeholder="Class name (required)" required="true">
                <label for="class-topic" class="modal-label">
                    Enter a class topic
                </label>
                <input id="class-topic" name="class_topic" type="text" class="modal-input" placeholder="Topic">
                <ul>
                    <li><button type="submit" class="modal-create">Create</button></li>
                    </form>
                    <li><button type="button" class="modal-cancel js-modal-close">Cancel</button></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-invite js-modal-invite">
        <div class="modal-container js-modal-invite-container">
            <div class="modal-header">
                <p>Invite students</p>
            </div>
            <div class="modal-body">
                <form method="POST" name="form-invite-student">
                <p class="invite-link" id="class-ID">Class ID: </p>
                <p class="invite-link" id="class-code">Class code: </p>
                {{!-- <p id="class_link" class="class-link"><i class="copy-icon far fa-clone" data-clipboard-target='.class-link'></i></p> --}}
                    {{!-- <p class="items fl">Class ID</p>
                    <p class="items-class-code"><i class="copy-icon far fa-clone" data-clipboard-target='.items-class-code'></i></p> --}}
                <label for="email" class="modal-label">
                    Enter email:
                </label>
                    <textarea  name="email" id="exampleFormControlTextarea1"></textarea>
                <ul>
                    <li><button id="btn-invite-student" type="submit" class="modal-invite-btn">Invite</button></li>
                </form>
                    <li><button type="button" class="modal-cancel js-modal-invite-close">Cancel</button></li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        const creClassBtn = document.querySelector('.js-create-new-class')
        const modal = document.querySelector('.js-modal')
        const modalClose = document.querySelector('.js-modal-close')
        const modalContainer = document.querySelector('.js-modal-container')

        const inviteStudents = document.querySelectorAll('.js-invite')
        const modalInvite = document.querySelector('.js-modal-invite')
        const modalInviteClose = document.querySelector('.js-modal-invite-close')
        const modalInviteContainer = document.querySelector('.js-modal-invite-container')

        var btnInvateStudent = document.getElementById('btn-invite-student')
        var inviteForm = document.forms['form-invite-student']

        var classId
        var class_ID
        var class_code
        
        function showCreClass(){
            modal.classList.add('open')
        }
        function hideCreClass(){
            modal.classList.remove('open')
        }
        creClassBtn.addEventListener('click', showCreClass)
        modalClose.addEventListener('click', hideCreClass)
        modal.addEventListener('click', hideCreClass)
        modalContainer.addEventListener('click', function(event){
            event.stopPropagation()
        })
        
        function showInvite(){
            classId = $(this).attr("data-id");
            class_ID = $(this).attr("data-classID");
            class_code = $(this).attr("data-classCode");
            {{!-- classLink = "https://Supmark.herokuapp.com/classroom/" + classId --}}
            document.getElementById('class-ID').innerText =   "Class ID:   " +  class_ID;
            document.getElementById('class-code').innerText = "Class code: " +  class_code;
            modalInvite.classList.add('open')
        }

        btnInvateStudent.onclick = function() {
            inviteForm.action = '/classroom/invite/' + classId
            deleteForm.submit()
        }
        
        function hideInvite(){
            modalInvite.classList.remove('open')
        }
        
        window.onload = function() {
            if(!window.location.hash) {
                window.location = window.location + '#loaded';
                window.location.reload();
            }
        }
        for(const inviteStudent of inviteStudents){
            inviteStudent.addEventListener('click', showInvite)
        }
        modalInviteClose.addEventListener('click', hideInvite)
    </script>

    <!-- Copy code -->
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js"></script>
    <script>
        (function(){
          new Clipboard('.copy-icon');
        })();
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

