<div id="content">
    <div class="content-heading">
        <p>{{class_name}}</p>
    </div>
    <p id="classes" data-id="{{classID}}" data-name="{{class_name}}"></p>
    {{#each assignments}}
        <div class="class-item js-open-class fl">
            <div class="img">
                {{#if img}}
                    <img src="/uploads/images/{{img}}" alt="">
                {{else}}
                    <img src="./assets/img/Exercise.png" alt="">
                {{/if}}
            </div>
            <p id="images" value="{{img}}"></p>
            <div class="fl">
                
                <a id="class_link" class="class-name" onclick="submit('{{_id}}','{{title}}')">{{title}} </a>
                
                <p class="assignments"><i class="fas fa-user"></i>Created by: {{teacherName}}</p>
                <p class="assignments"><i class="fas fa-calendar-minus"></i> Open time: {{open_datetime}}</p>
                <p class="due-time">Due time: {{due_datetime}}</p>
            </div>
            <p class="sent">Sent, {{open_datetime}}</p>
        </div>
    {{/each}}
</div>

<script>
    window.onload = function() {
        if(!window.location.hash) {
            window.location = window.location + '#loaded';
            window.location.reload();
        }
    }
    
    function submit(_id, title) {
        var img = document.getElementById("images").getAttribute('value')
        var classes = document.getElementById('classes');
        var classID = classes.dataset.id;
        var className = classes.dataset.name;
        var linkURL = "/submit?class_name=" + className + "&classID=" + classID + "&a=" + _id + "&t=" + title + "&i=" + img;
        window.location.href = linkURL;
    }
</script>
