<div class="grid__row">
        <div class="grid__column-1">
                <ul class="category-list">
                    <li class="category-item">
                        <button class="catelogy-item__link" onclick="toggleMode(modes.pan)">
                            <i class="category__item-icon fas fa-mouse-pointer"></i>
                        </button> 
                    </li>
                    <li class="category-item">
                        <button class="catelogy-item__link"  onclick="toggleMode(modes.drawing)">
                            <i class="category__item-icon fas fa-pencil-alt" ></i>
                        </button> 
                    </li>
                    <li class="category-item">
                        <button class="catelogy-item__link" onclick="createText()">
                            <i class="category__item-icon far fa-comments"></i>
                        </button> 
                    </li>
                    <li class="category-item">
                        <button class="catelogy-item__link" onclick="createCirc(canvas)">
                            <i class="category__item-icon far fa-circle"></i>
                        </button> 
                    </li>
                    <li class="category-item">
                        <button class="catelogy-item__link" onclick="createRect(canvas)">
                            <i class="category__item-icon far fa-square"></i></i>
                        </button> 
                    </li>
                    <li class="category-item">
                        <button class="catelogy-item__link" onclick="groupObjects(canvas, group, true)">
                            <i class="category__item-icon far fa-object-group"></i></i>
                        </button> 
                    </li>
                    <li class="category-item">
                        <button class="catelogy-item__link" onclick="groupObjects(canvas, group, false)">
                            <i class="category__item-icon far fa-object-ungroup"></i></i>
                        </button> 
                    </li>
                </ul>
        </div>
        <div class="grid__column-10">
            <input id='colorPicker' value="#000000" data-jscolor="">
            <button class="savef__item-icon fas fa-undo" onclick="removeLastCanvas(canvas, svgState)"></button>
            <button class="savef__item-icon fas fa-trash-alt" onclick="clearCanvas(canvas, svgState, false)"></button>
            <button class="savef__item-icon fas fa-trash-restore" onclick="restoreCanvas(canvas, svgState, bgUrl)"></button>
            <button class="savef__item-icon fas fa-save" onclick="save()"></button>
            <input id="myImg" type="file" accept="image/*">
                <div class="w3-content" style="max-width:800px">
                    <canvas id="canvas"></canvas>
                </div>
        </div>
        

        <div class="grid__column-5">
            <div class="list-group-item-complex">
                Complex
            </div>
            {{#if tests}}
               {{#each tests}}
                    <div class="list-group-item-student">
                        <button class="change-student__link">
                            <i class=" fas fa-chevron-left" onclick="previous_student()"></i></i>
                        </button>
                        {{nameST}}
            
                        <button class="change-student__link">
                            <i class=" fas fa-chevron-right" onclick="next_student()"></i></i>
                        </button>
                    </div>
                    {{#if question}}
                        {{#each question}}
                            <div class="add-question">

                                <div class="name-question">
                                    {{questionName}}
                                    <div class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <i class="fas fa-sort-down"></i>
                                    </div>
                                </div>
                                    
                                            <div class="collapse" id="collapseExample">
                                                <div class="card card-body">
                                                    <div class="new_criterion">
                                                        {{#each criteria}}
                                                            {{#if checkbox}}
                                                                <div id="criterion" class="testt"><label class="container" value= "{{criterion_name}}">{{criterion_name}}<input name="checkbox" class="checkbox" id="checkbox" type="checkbox" checked onclick="checkMark()"><span class ="checkmark"></span></label><input type="number" class="form-control" id="InputPoints" value="{{score}}"></div>
                                                            {{else}}
                                                                <div id="criterion" class="testt"><label class="container" value= "{{criterion_name}}">{{criterion_name}}<input name="checkbox" class="checkbox" id="checkbox" type="checkbox" onclick="checkMark()"><span class ="checkmark"></span></label><input type="number" class="form-control" id="InputPoints" value="{{score}}"></div>
                                                            {{/if}}
                                                        {{/each}}
                                                        <input type="text" class="text_add" id="title" placeholder="New Criterion" value=""/> 
                                                        <input type="button" class="button_add" id="button_add" onclick="add_element(' + title.toString() + ')" value="Add"/>
                                                    </div>
                                                </div>
                                            </div>
                                 
                            <div>
                                <div class="new_question">
                                    <div id="result"></div>    
                                    <input type="text" class="text_add_question" id="title1" placeholder="New Question" value=""/> 
                                    <input type="button" class="button_add_question" id="button_add" onclick="add_element_question()" value="Add Question"/>                    
                                </div>
                            </div>
                        {{/each}}
                    {{else}}
                    {{/if}}
                    <div class="total">
                        <div class="ketqua"> 
                            Result: <span id="kq"></span>     
                        </div>    
                    </div>
                {{/each}}
            {{else}}
            {{/if}}
            <p id="currentPage" value = "{{currentPage}}"></p>
            <p id="maxPage" value = "{{maxPage}}"></p>
    </div>
<script src="/fabricJs_lib/jscolor.js"></script>
<script src="/fabricJs_lib/fabric.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/assets/js/test.js"></script>